//Документ sass/mixins.scss

@mixin opensans {
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

@mixin opensansbold {
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

@mixin wrapper {
  padding-right: 9.375%;
  padding-left: 9.375%;

  @media (min-width: $tablet-width) {
    padding-right: 6.510416666666667%;
    padding-left: 6.510416666666667%;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}


@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
