/* Color Variables
   ========================================================================== */

$color-lightgray: #f1f1f1;
$color-gray: #d2d2d2;
$color-darkgray: #444444;
$color-lightgreen: #63d1bb;
$color-darkgreen: #56c3b2;
$color-black: #000000;
$color-border-gray: #ececec;
