//Документ sass/global/type.scss

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;

  font-size: 15px;
  line-height: 30px;
  // font-size: 4.6875vw;
  // line-height: 2em;

  @include opensans;
}


h1 {
  margin: 0;
  padding: 0;

  font-size: 27px;
  line-height: 30px;
  // font-size: 8.4375vw;
  // line-height: 1.11em;

  @include opensansbold;
}

h2 {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
  // font-size: 7.8125vw;
  // line-height: 1.2em;

  @include opensansbold;
}

h3 {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  // font-size: 5.3125vw;
  // line-height: 1,411764705882353em;

  @include opensansbold;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;

  text-decoration: none;
}

blockquote {
  margin: 0;
}

cite {
  font-size: 18px;
  line-height: 24px;
  // font-size: 5.625vw;
  // line-height: 1.333333333333333em;

  @include opensansbold;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
    // font-size: 2.213541666666667vw;
  }

  h1,
  h2 {
    // font-size: 5.598958333333333vw;
    // line-height: 1.162790697674419em;
    font-size: 43px;
    line-height: 50px;
  }

  h3 {
    font-size: 20px;
    // font-size: 2.604166666666667vw;
  }
}

@media (min-width: $desktop-width) {
  font-size: 18px;
  line-height: 24px;
  body {
    font-size: 17px;
  }

  h1,
  h2 {
    font-size: 53px;
    line-height: 57px;
  }

  h3 {
    font-size: 20px;
  }
}
