.catalog__wrapper {
  padding-top: 30px;
  padding-bottom: 58px;

  @include wrapper;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog__video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 96px;

  border: 1px solid $color-border-gray;

  &:hover .catalog__video-wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:hover h3 {
    opacity: 0.6;
  }

  &:active .catalog__video-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  &:active h3 {
    opacity: 0.3;
  }
}

.catalog__video-container {
  position: relative;

  width: 260px;
  height: 150px;

  text-align: center;

  background: url("../img/video-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: cover;


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 101px;
    height: 77px;
    margin-top: -35px;
    margin-left: -50px;

    background: url("../img/icon-play.svg") no-repeat;
    cursor: pointer;
  }

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.catalog__video-wrapper {
  position: relative;

  flex-basis: 100%;
  padding-top: 23px;
  padding-right: 12.7906976744186%;
  padding-bottom: 32px;
  padding-left: 12.7906976744186%;

  border-top: 1px solid $color-border-gray;
}

.catalog__video-wrapper h3 {
  position: relative;

  display: block;
  padding-left: 57px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 32px;
    height: 22px;
    margin-top: -14px;

    background: url("../img/icon-video.svg") no-repeat;
    background-position: 50% 50%;
    filter: grayscale(1);
  }
}

.catalog__video:hover h3::before {
  filter: grayscale(0);
}

.catalog__video-wrapper p {
  padding-bottom: 26px;
}

.catalog__order {
  width: 100%;
}

@media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
  .catalog__video-container {
    background: url("../img/video-mobile@2x.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: $tablet-width - 1) {
  .catalog__video-wrapper h3 {
    top: -245px;
  }

  .catalog__video-wrapper p {
    margin-top: -45px;

    font-size: 13px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding-bottom: 63px;
  }

  .catalog__video {
    padding-top: 0;
    padding-bottom: 13px;
  }

  .catalog__wrapper {
    padding-top: 81px;
  }

  .catalog__video-container {
    position: relative;

    width: 668px;
    height: 455px;

    text-align: center;

    background: url("../img/video-tablet@1x.jpg") no-repeat;
    background-color: lightgray;
  }

  .catalog__video-wrapper {
    padding-top: 38px;
    padding-right: 6.456456456456456%;
    padding-left: 6.456456456456456%;

    h3 {
      padding-left: 62px;
    }

    p {
      margin-left: -3px;
      padding-top: 32px;
      padding-bottom: 34px;

      font-size: 15px;
    }
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
       (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .catalog__video-container {
    background: url("../img/video-tablet@2x.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding-top: 132px;
    padding-bottom: 105px;
  }

  .catalog__items {
    flex-wrap: wrap;
    width: 1060px;
    margin-bottom: 26px;
  }


  .catalog__video-container {
    flex-basis: auto;
    width: 682px;

    background: url("../img/video-desktop@1x.jpg") no-repeat;

    &::before {
      margin-top: -38px;
      margin-left: -41px;
    }
  }

  .catalog__video-wrapper {
    flex-basis: auto;
    box-sizing: border-box;
    width: 366px;
    padding-top: 95px;
    padding-right: 56px;
    padding-left: 80px;

    border-top: none;
  }


  .catalog__video-wrapper h3 {
    padding-left: 0;
    &::before {
      content: "";
      position: absolute;
      top: -34px;
      left: 0;

      width: 32px;
      height: 22px;

      background: url("../img/icon-video.svg") no-repeat;
      background-position: 50% 50%;
    }
  }

  .catalog__video-wrapper p {
    padding-top: 34px;
    padding-bottom: 46px;
  }

  .catalog__video {
    padding: 0;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi),
       (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .catalog__video-container {
    background: url("../img/video-desktop@2x.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
}
