.catalog-item {
  margin-top: 30px;
  padding-bottom: 27px;

  border: 1px solid $color-border-gray;

  overflow: hidden;
}

.catalog-item__link {
  display: block;

  color: $color-black;
}

.catalog-item__description-wrapper {
  width: 204px;
  margin: 0 auto;
}

.catalog-item__link p {
  font-size: 13px;
  color: $color-darkgray;
}

.catalog-item__link span {
  display: block;

  @include opensansbold;
  padding-top: 26px;
  margin-top: 26px;

  font-size: 15px;
  line-height: 24px;

  border-top: 1px solid $color-border-gray;
}
