.catalog {
  padding-top: 75px;
  padding-bottom: 59px;
}

.catalog__wrapper {
  @include wrapper;
}

.catalog__title {
  margin-top: 0;
  padding-top: 75px;
  padding-bottom: 76px;

  text-align: center;

  background-color: $color-lightgray;
}

.catalog__video {
  margin-top: 30px;
  padding-top: 26px;
  padding-bottom: 32px;
  overflow: hidden;

  border: 1px solid $color-border-gray;
}

.catalog__video-wrapper {
  width: 192px;
  margin: 0 auto;
}

.catalog__video h3 {
  padding-bottom: 22px;
  padding-left: 58px;
}

.catalog__video p {
  margin-top: 18px;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  color: $color-darkgray;
}

.catalog__order {
  width: 188px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .catalog__title {
    margin-top: -47px;
    margin-bottom: 81px;
    margin-left: 10px;
    padding-top: 95px;
    padding-bottom: 78px;

    border-top: 1px solid $color-border-gray;
  }

  .catalog__video {
    position: relative;

    margin-top: 50px;
    padding-bottom: 44px;
  }

  .catalog__video video {
    width: 100%;
    height: 459px;
    margin-top: -27px;

    background-color: gray;
  }

  .catalog__video h3 {
    position: absolute;
    top: 495px;
    left: 47px;
  }

  .catalog__video-wrapper {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  .catalog__video p {
    margin-top: 83px;
    padding-bottom: 10px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog__order {
    width: 582px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-bottom: 106px;
  }

  .catalog__title {
    margin-bottom: 102px;
  }

  .catalog__items {
    @include clearfix;
  }

  .catalog__video {
    margin-top: 55px;
    padding-bottom: 0;
  }

  .catalog__video video {
    float: left;
    width: 682px;
    height: 454px;
  }

  .catalog__video h3 {
    position: static;

    margin: 0;
    margin-top: 70px;
    padding: 0;
  }

  .catalog__video p {
    margin-top: 33px;
    padding-bottom: 22px;
  }

  .catalog__video-wrapper {
    float: right;
    width: 230px;
    margin-right: 18px;
    padding-left: 0;
  }

  .catalog__order {
    width: 230px;
  }
}
