.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 100px;

  @include wrapper;
}

.contacts__info {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.contacts__all {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;

  span {
    flex-basis: 30%;
  }

  p {
    flex-basis: 70%;
  }

  a {
    color: $color-black;

    border-bottom: 1px solid $color-lightgreen;

    &:hover {
      color: $color-lightgreen;
    }

    &:active {
      color: $color-lightgreen;
      opacity: 0.3;
    }
  }
}

.contacts__mail,
.contacts__address {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.contacts__feedback {
  position: relative;
  top: 530px;

  width: 100%;
}

.contacts__map {
  flex-basis: 100%;

  iframe {
    position: relative;
    left: -9.375%;

    width: 100vw;
    height: 457px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;

    flex-basis: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 47px;
      height: 82px;
      margin-top: -41px;

      background: url("../img/icon-flag.svg");
    }
  }

  .contacts__mail,
  .contacts__address {
    flex-basis: 50%;
    flex-wrap: nowrap;
  }
}

.contacts__map {
  iframe {
    left: -6.510416666666667%;
  }
}



@media (min-width: $desktop-width) {
  .contacts__wrapper {
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-left: 175px;
  }

  .contacts__info {
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .contacts__title {
    flex-basis: auto;
    &::after {
      left: -100px;
    }
  }

  .contacts__all {
    flex-basis: auto;
    margin-top: 50px;
  }

  .contacts__mail,
  .contacts__address {
    flex-basis: 100%;
  }

  .contacts__map {
    flex-basis: 50%;

    iframe {
      position: static;

      width: 525px;
    }
  }

  .contacts__feedback {
    position: static;

    width: 231px;
    margin-top: auto;
  }
}
