.form-knitting-order__form-block {
  padding-bottom: 36px;

  border: none;
}

.form-knitting-order__form-block:first-child .form-knitting-order__label {
  padding-top: 30px;
}

.form-knitting-order__form-block:nth-child(2) {
  padding-bottom: 28px;
}

.form-knitting-order__form-block:nth-child(2) .form-knitting-order__label {
  padding-top: 30px;
  padding-bottom: 13px;
}

.form-knitting-order__form-block:nth-child(3) {
  padding-bottom: 29px;
}

.form-knitting-order__form-block:nth-child(4) {
  padding-bottom: 32px;
}

.form-knitting-order__form-block:nth-child(5) {
  padding-bottom: 32px;
}

.form-knitting-order__form-block:last-child {
  margin-top: -27px;
  padding-bottom: 55px;

  border: none;
}

.form-knitting-order__legend {
  min-width: 62px;
  margin-left: -15px;

  font-size: 17px;
  line-height: 1em;
  color: $color-lightgreen;
  text-transform: uppercase;

  @include opensansbold;
}

.form-knitting-order__label {
  display: block;
  padding-left: 51px;

  font-size: 17px;
  line-height: 18px;

  @include opensansbold;
}

.form-knitting-order__input-type,
.form-knitting-order__input-color {
  display: none;
}

.form-knitting-order__input-fullname,
.form-knitting-order__input-phone,
.form-knitting-order__input-email {
  min-width: 260px;
  padding-top: 17px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  color: $color-darkgray;

  border: transparent;
  border-bottom: 2px solid $color-darkgray;
  outline: none;
}

.form-knitting-order__input-phone,
.form-knitting-order__input-email {
  margin-left: -13px;
}

.form-knitting-order__form-block:nth-child(3) .form-knitting-order__label {
  margin-left: -13px;
  padding-top: 22px;
  padding-left: 0;
}

.form-knitting-order__additional-info {
  min-width: 226px;
  min-height: 108px;
  margin-top: 19px;
  margin-left: -12px;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  color: $color-darkgray;

  border: 2px solid $color-darkgray;
}

.form-knitting-order__hint {
  display: block;
  width: 260px;
  margin-top: -10px;
  margin-left: -12px;
  padding-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

.form-knitting-order__submit {
  width: 260px;
  margin-left: -13px;
}

@media (min-width: $tablet-width) {
  .form-knitting-order__form-block {
    position: relative;

    @include clearfix;
  }

  .form-knitting-order__form-block:nth-child(1) {
    padding-bottom: 69px;
  }

  .form-knitting-order__form-block:nth-child(2) {
    padding-bottom: 69px;
  }

  .form-knitting-order__form-block:nth-child(3) {
    padding-bottom: 73px;
  }

  .form-knitting-order__form-block:nth-child(4) {
    padding-bottom: 34px;
  }

  .form-knitting-order__form-block:nth-child(5) {
    padding-bottom: 109px;
  }

  .form-knitting-order__form-block:nth-child(6) {
    padding-bottom: 65px;
  }

  .form-knitting-order__form-block:nth-child(7) {
    padding-bottom: 41px;
  }

  .form-knitting-order__legend {
    position: absolute;
  }

  .form-knitting-order__label {
    float: left;
    margin-left: 182px;

    font-size: 19px;
    line-height: 18px;
  }

  .form-knitting-order__form-block:nth-child(1) .form-knitting-order__label {
    width: 300px;
    margin-top: -32px;
    padding-bottom: 60px;

    text-align: left;
  }

  .form-knitting-order__form-block:nth-child(2) .form-knitting-order__label {
    width: 30px;
    margin-top: -30px;
    padding-bottom: 58px;
  }

  .form-knitting-order__form-block:nth-child(3) .form-knitting-order__label {
    width: 500px;
    margin-top: -36px;
    margin-left: 153px;
    padding-bottom: 36px;
  }

  .form-knitting-order__input-fullname {
    width: 74.8%;
    margin-left: 20px;
  }

  .form-knitting-order__input-fullname--width {
    width: 85%;
  }

  .form-knitting-order__input-phone,
  .form-knitting-order__input-email {
    float: left;
    width: 500px;
    margin-top: -16px;
    margin-left: 153px;
  }

  .form-knitting-order__additional-info {
    min-width: 468px;
    margin-top: -16px;
    margin-left: 152px;
  }

  .form-knitting-order__hint {
    float: right;
    width: 300px;
    margin-top: 10px;
    margin-right: -16px;

    font-size: 17px;
  }

  .form-knitting-order__submit {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form-knitting-order {
    margin-left: 9px;
  }

  .form-knitting-order__legend {
    position: absolute;
    left: 67px;
  }

  .form-knitting-order__form-block:nth-child(3) .form-knitting-order__label {
    width: 770px;
  }

  .form-knitting-order__input-fullname--width {
    width: 81%;
  }

  .form-knitting-order__input-phone,
  .form-knitting-order__input-email {
    width: 700px;
  }

  .form-knitting-order__additional-info {
    min-width: 666px;
  }

  .form-knitting-order__hint {
    margin-right: 160px;
  }

  .form-knitting-order__submit {
    margin-left: 152px;
  }

  .form-knitting-order__form-block:last-child {
    padding-bottom: 37px;
  }
}
