.knitting-order__title {
  margin-top: 0;
  padding-top: 149px;
  padding-bottom: 77px;

  text-align: center;

  background-color: $color-lightgray;
}

.knitting-order__wrapper {
  @include wrapper;
}

.knitting-order__description {
  padding-top: 22px;
  padding-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .knitting-order__title {
    margin-top: -47px;
    padding-top: 93px;
    padding-bottom: 80px;

    border-top: 1px solid $color-border-gray;
  }

  .knitting-order__wrapper {
    @include clearfix;
  }

  .knitting-order__description {
    padding-top: 74px;
    padding-bottom: 68px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .knitting-order__description {
    width: 700px;
    margin-top: 73px;
    margin-left: 175px;
  }
}
