//Документ sass/blocks/knitting-order.scss

.knitting-order__wrapper {
  padding-top: 23px;
  padding-bottom: 42px;

  @include wrapper;
}

.knitting-order__description {
  position: relative;

  font-size: 13px;
  line-height: 24px;

  // font-size: 4.0625vw;
  // line-height: 1.846153846153846em;
}

@media (min-width: $tablet-width) {
  .knitting-order__wrapper {
    padding-top: 75px;
    padding-bottom: 10px;
  }

  .knitting-order__description {
    padding-bottom: 0;

    font-size: 17px;
    line-height: 30px;
    // font-size: 2.213541666666667vw;
    // line-height: 1.764705882352941em;
  }
}

@media (min-width: $desktop-width) {
  .knitting-order__wrapper {
    padding-top: 126px;
    padding-bottom: 9px;
  }

  .knitting-order__description {
    width: 700px;
    margin: 0 auto;
  }
}
