.logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
  margin-top: 21px;

  background: url("../../img/logo-mobile.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    top: -23px;
    left: -2px;

    width: 113px;
    height: 46px;

    background: url("../../img/logo-tablet.png") no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    top: -36px;
    left: 50%;

    width: 149px;
    height: 72px;
    margin-left: -75px;

    background: url("../../img/logo-desktop.png") no-repeat;
  }
}
