//Документ sass/blocks/main-nav.scss

.main-nav {
  width: 100%;
  min-width: 320px;
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: $color-white;
}

.main-nav__logo {
  display: block;
  width: 86px;
  height: 36px;
  margin-top: 21px;
  margin-bottom: 22px;
  margin-left: 36.24%;

  font-size: 0;

  background: url("../img/logo-mobile.svg") no-repeat;
  background-position: 50% 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  display: none;

  background: url("../img/icon-menu-close.svg") no-repeat;
  background-position: 50% 50%;
  outline: none;
  cursor: pointer;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  flex-basis: 100%;

  text-align: center;
}

.main-nav__link {
  display: block;
  padding-top: 19px;
  padding-bottom: 17px;
  padding-left: 23.75%;

  text-align: left;
  color: $color-black;

  border-top: 1px solid $color-border-gray;

  @include opensansbold;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item:nth-child(3) .main-nav__link::before, {
  content: "";

  width: 18px;
  height: 18px;
  margin-left: -26px;
  padding-right: 26px;

  background: url("../img/icon-search.svg") no-repeat;
  filter: grayscale(1);
}


.main-nav__item:nth-child(4) .main-nav__link::before, {
  content: "";

  width: 21px;
  height: 18px;
  margin-left: -26px;
  padding-right: 26px;

  background: url("../img/icon-cart.svg") no-repeat;
  filter: grayscale(1);
}

.main-nav__item:nth-child(3) .main-nav__link:hover::before,
.main-nav__item:nth-child(4) .main-nav__link:hover::before {
  filter: grayscale(0);
}

.main-nav__item:nth-child(3) .main-nav__link:active::before,
.main-nav__item:nth-child(4) .main-nav__link:active::before {
  filter: grayscale(0);
}

@media (max-width: $tablet-width - 1) {
  .main-nav {
    position: fixed;
    top: 0;
    z-index: 3;

    border-bottom: 1px solid $color-border-gray;

    &--nojs {
      position: static;
    }
  }

  .main-nav__toggle {
    display: block;
    width: 20px;
    height: 16px;
    margin-right: 9.375%;
    margin-left: 20.9375%;

    font-size: 0;

    border: none;

    &--closed {
      background: url("../img/icon-menu-open.svg") no-repeat;
    }
  }

  .main-nav__list {
    width: 100%;

    &--closed {
      display: none;
    }
  }

  .main-nav__item:nth-child(5),
  .main-nav__item:nth-child(6),
  .main-nav__item:last-child {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    z-index: 2;

    border-top: none;
  }

  .main-nav__wrapper {
    position: relative;

    background: transparent;

    @include wrapper;
  }

  .main-nav__logo {
    position: absolute;
    top: 21px;
    left: 6.510416666666667%;

    width: 112px;
    height: 46px;
    margin: 0;

    background: url("../img/logo-tablet.svg") no-repeat;
    background-position: 50% 50%;
  }

  .main-nav__list {
    justify-content: flex-end;
  }

  .main-nav__item {
    flex-basis: auto;

    &:first-child {
      flex-basis: 167px;
    }

    &:nth-child(2) {
      flex-basis: 167px;
    }

    &:nth-child(3) {
      flex-basis: 82px;

      border-right: 1px solid $color-border-gray;
      border-left: 1px solid $color-border-gray;
    }

    &:nth-child(4) {
      flex-basis: 39.52095808383234%;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  .main-nav__link {
    padding-top: 27px;
    padding-bottom: 31px;
    padding-left: 0;

    text-align: right;

    border-top: none;
    border-bottom: none;
  }

  .main-nav__item:nth-child(3) .main-nav__link {
    font-size: 0;

    background: url("../img/icon-search.svg") no-repeat;
    background-position: 50% 50%;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }

    &:active {
      filter: grayscale(0);
    }
  }

  .main-nav__item:nth-child(4) .main-nav__link {
    position: relative;
    &::before {
      position: absolute;
      top: 34px;
      left: 31px;

      margin-left: 0;
      padding-right: 0;
    }
  }

  .main-nav__item:last-child .main-nav__link {
    padding-top: 14px;
    padding-bottom: 0;
    padding-left: 0;

    font-size: 15px;
    // font-size: 1.953125vw;

    @include opensans;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .main-nav__item:nth-child(3) {
    order: -2;
    margin-left: 47%;
  }

  .main-nav__item:nth-child(4) {
    order: -1;
  }

  .main-nav__item:nth-child(5),
  .main-nav__item:nth-child(6) {
    display: none;
  }

  .main-nav__item:first-child .main-nav__link,
  .main-nav__item:nth-child(2) .main-nav__link {
    padding-top: 14px;
    padding-bottom: 0;
    padding-left: 0;

    font-size: 15px;
    // font-size: 1.953125vw;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    position: absolute;
    top: 9px;
    left: 42.85714285714286%;

    width: 149px;
    height: 72px;
    margin: 0;

    background: url("../img/logo-desktop.svg") no-repeat;
    background-position: 50% 50%;
  }

  .main-nav__item:first-child {
    flex-basis: 186px;

    border-right: 1px solid $color-border-gray;
  }

  .main-nav__item:nth-child(2) {
    flex-grow: 1;
    flex-basis: 265px;
    margin-right: 20%;
  }

  .main-nav__item:nth-child(4) {
    flex-basis: 266px;
  }

  .main-nav__item:nth-child(5),
  .main-nav__item:nth-child(6) {
    flex-basis: 184px;

    font-size: 15px;
    line-height: 24px;
  }


  .main-nav__item:first-child .main-nav__link {
    padding-left: 0;

    text-align: left;
  }

  .main-nav__item:nth-child(2) .main-nav__link {
    padding-left: 34px;

    text-align: left;
  }

  .main-nav__item:nth-child(5) .main-nav__link,
  .main-nav__item:nth-child(6) .main-nav__link {
    padding-top: 17px;
    padding-bottom: 0;
    padding-left: 1px;

    font-size: 15;
    // font-size: 1.304347826086957vw;
    text-align: left;
  }

  .main-nav__item:nth-child(6) .main-nav__link {
    padding-left: 35px;
  }
}
