.main-nav {
  border: 1px solid black;
}

.main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  @include wrapper-middle;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 76px;

  border-top: 1px solid $color-border-gray;
}

.main-nav__item:last-child {
  border-bottom: 1px solid $color-border-gray;
}

.main-nav__link {
  @include opensansbold;

  font-size: 17px;
  line-height: 24px;
  color: $color-black;
  text-decoration: none;
}
