//Документ sass/blocks/page-header.scss

.page-header__title-block {
  background-color: $color-lightgray;
  border-top: 1px solid $color-border-gray;

  &--index {
    background-color: #fafafa;
  }
}

.page-header__title {
  display: block;
  padding-top: 60px;
  padding-bottom: 59px;

  text-align: center;

  @include wrapper;

  &--index {
    padding-top: 72px;
    padding-bottom: 116px;

    background: url("../img/hero-mobile@1x.jpg") no-repeat;
    background-position: 50% 25%;
  }
}

@media (max-width: $tablet-width - 1) {
  .page-header__title-block {
    margin-top: 80px;

    &--nojs {
      margin-top: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__title-block {
    margin-top: -55px;
  }

  .page-header__title {
    padding-top: 88px;
    padding-bottom: 67px;

    &--index {
      padding-top: 160px;
      padding-bottom: 367px;

      background: url("../img/hero-tablet@1x.jpg") no-repeat;
      background-position: 50% 0;
    }
  }

  .page-header__title br:first-child {
    display: none;
  }
}
