.page-header {
  padding-top: 21px;
  padding-bottom: 22px;

  border: 1px solid $color-border-gray;
  border-right-color: transparent;
  border-right-color: transparent;
}

.page-header__logo {
  text-align: center;
}
