//Документ sass/blocks/page-footer.scss

.page-footer {
  background-color: $color-lightgray;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
  padding-bottom: 23px;

  @include wrapper;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright-link {
  flex-basis: 100%;
  padding-top: 28px;

  font-size: 19px;
  // font-size: 5.9375vw;
  line-height: 1em;
  text-align: center;
  color: $color-black;

  border-top: 1px solid $color-border-gray;

  @include opensansbold;

  span {
    display: none;
  }

  svg {
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-left: 22px;
    margin-top: 1px;

    font-size: 0;
    vertical-align: middle;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover svg {
    fill: #46c1ae;
   }

   &:active svg {
     fill: #46c1ae;
   }
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: #bde3dd;
    }

    svg {
      width: 102px;
      height: 34px;
    }
  }

  .page-footer__copyright-link {
    flex-basis: auto;
    padding-top: 0;
    margin-top: 6px;

    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-bottom: 54px;
  }
}
