//Документ sass/blocks/product-types.scss

.product-types {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  z-index: 1;
}

.product-types__link-type {
  position: relative;

  flex-basis: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-size: 19px;
  line-height: 24px;
  // font-size: 5.9375vw;
  // line-height: 1.263157894736842em;
  color: $color-white;

  @include opensansbold;

  &:first-child {
    background-color: $color-lightgreen;
  }

  &:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 11.25%;

    width: 40px;
    height: 62px;
    margin-top: -31px;

    background: url("../img/icon-interior.svg") no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
  }

  &:last-child {
    background-color: $color-darkgreen;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8.125%;

    width: 60px;
    height: 60px;
    margin-top: -30px;

    background: url("../img/icon-toy.svg") no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
  }

  &:hover {
    padding-top: 14px;
    padding-bottom: 27px;
  }

  &:hover::after {
    margin-top: -36px;
    opacity: 0.7;
  }

  &:active {
    color: #97e2d2;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .product-types {
    flex-wrap: nowrap;
    @include wrapper;

  }

  .product-types__link-type {
    font-size: 20px;
    line-height: 30px;
    // font-size: 2.604166666666667vw;
    // line-height: 1.5em;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 36px;

      &:last-child::after {
        right: 10.2%;
      }
  }
}

@media (min-width: $desktop-width) {
  .product-types__link-type {
    margin-top: -1px;
    padding-top: 27px;

    &:first-child::after {
      top: 61px;
      right: 36px;
      }

  &:last-child::after {
    top: 62px;
    right: 35px;
    }
  }
}
