.product-types {
  width: 320px;
  margin: 0 auto;
}

.product-types__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  @include opensansbold;

  &:first-child {
    background-color: $color-lightgreen;
  }

  &:last-child {
    background-color: $color-darkgreen;
  }
}

@media (min-width: $tablet-width) {
  .product-types {
    width: auto;
  }

  .product-types__wrapper {
    @include clearfix;
    @include wrapper;
  }

  .product-types__link {
    float: left;
    width: 298px;
    padding-top: 28px;
    padding-left: 36px;

    font-size: 19px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-types__link {
    width: 489px;
  }
}
