.products {
  padding: 0;
  padding-top: 75px;

  background-color: #f9f9f9;
}

.products__wrapper {
  @include wrapper;
}

.products__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 122px;

  text-align: center;

  background: url("../../img/hero-mobile@1x.jpg") no-repeat;
  background-position: 50% 14%;
}

@media (min-width: $tablet-width) {
  .products {
    margin-top: -45px;

    border-top: 1px solid $color-border-gray;
  }

  .products__title {
    padding-bottom: 374px;

    background: url("../../img/hero-tablet@1x.jpg") no-repeat;
    background-position: 50% 40%;
  }

  .products__title br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .products__title {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 359px;
  }
}
