.reviews {
  position: relative;

  padding-top: 12px;
  padding-bottom: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 100%;

    width: 100%;
    height: 7px;

    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-position: center;
    background-size: contain;
  }
}

.reviews__wrapper {
  @include wrapper;
}

.reviews__title {
  margin-bottom: 23px;
}

.reviews__item p {
  margin-bottom: 25px;
}

.reviews__item span {
  display: block;

  font-size: 18px;
  line-height: 30px;
}

.reviews__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
}

.reviews__buttons {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 40px;
}

.reviews__prev,
.reviews__next {
  position: relative;

  flex-basis: 50%;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border: 1px solid $color-border-gray;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 26px;
    margin-top: -13px;
    margin-left: -25px;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.reviews__prev::before {
  background: url("../img/icon-left-arrow.svg") no-repeat;
}

.reviews__next::before {
  background: url("../img/icon-right-arrow.svg") no-repeat;
}

.reviews__write {
  flex-basis: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 56px;
    &::before {
      height: 20px;
    }
  }

  .reviews__wrapper {
    position: relative;

    padding-top: 79px;
    padding-bottom: 54px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 350px;
      height: 457px;

      background: url("../img/review@1x.jpg") no-repeat;
      background-position: center;
    }
  }

  .reviews__title {
    margin-bottom: 47px;
  }

  .reviews__items {
    position: relative;
  }

  .reviews__item p {
    margin-bottom: 56px;
  }

  .reviews__buttons-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 176px;
    height: 100%;
    margin-top: 0;
  }

  .reviews__buttons {
    flex-basis: auto;
    order: 2;
    margin-top: auto;
    margin-bottom: 4px;
  }

  .reviews__prev,
  .reviews__next {
    border: none;
  }

  .reviews__write {
    flex-basis: auto;
    width: 100%;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi),
       (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .reviews__wrapper {
    &::before {
      background: url("../img/review@2x.jpg") no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    box-sizing: border-box;
    padding-top: 71px;
    padding-bottom: 106px;
    padding-left: 175px;
  }

  .reviews__item p {
    width: 770px;
    margin-bottom: 37px;
  }

  .reviews__write {
    margin-top: 8px;
  }
}
