::-webkit-input-placeholder {
  color: #000000;
}
::-moz-placeholder {
  color: #000000;
}
:-ms-input-placeholder {
  color: #000000;
}

.site-search__search-field {
  font-size: 17px;
  line-height: 24px;

  background-color: inherit;
  border: none;
  outline: none;

  @include opensansbold ;
}

@media (min-width: $tablet-width) {
  .site-search
  ::-webkit-input-placeholder {
    color: transparent;
  }
  ::-moz-placeholder {
    color: transparent;
  }
  :-ms-input-placeholder {
    color: transparent;
  }
}
