//Документ sass/blocks/social-links.scss

.social-links {
  display: flex;
  flex-basis: 141px;
  justify-content: space-between;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  padding-bottom: 0;
}
