//Документ sass/blocks/social-links.scss

.social-links {
  display: flex;
  flex-basis: 147px;
  justify-content: space-between;
  padding-bottom: 21px;
  align-items: baseline;
}

@media (min-width: $tablet-width) {
  .social-links {
    padding-bottom: 0;
    margin-left: 80px;
    margin-top: 5px;
  }
}
