.week-product {
  padding-top: 27px;
  padding-bottom: 42px;
}

.week-product__wrapper {
  @include wrapper;
}

.week-product__header-wrapper h2 {
  margin-bottom: 7px;
}

.week-product__title {
  line-height: 1em;
  color: $color-lightgreen;
  text-transform: uppercase;
}

.week-product__descritption p {
  margin-top: 24px;

  line-height: 24px;
  color: $color-darkgray;
}

.week-product__image {
  width: 260px;
  height: 315px;
  margin-top: 29px;
}

.week-product__price {
  padding-top: 28px;
  padding-bottom: 29px;

  font-size: 17px;
  line-height: 1em;
  text-align: center;
  color: $color-darkgray;

  @include opensansbold;
}

@media (min-width: $tablet-width) {
  .week-product {
    padding-top: 46px;
  }

  .week-product__wrapper {
    @include clearfix;
  }

  .week-product__header-wrapper {
    @include clearfix;
  }

  .week-product__header-wrapper h2 {
    float: left;
    margin-left: -4px;
  }

  .week-product__title {
    float: right;
    width: 70px;
    margin-top: 10px;
    margin-right: 28px;

    font-size: 17px;
    text-align: center;
  }

  .week-product__descritption {
    @include clearfix;
  }

  .week-product__descritption-text {
    float: left;

    @include clearfix;
  }

  .week-product__descritption-text p {
    width: 290px;
    padding-top: 18px;

    font-size: 17px;
    line-height: 30px;
  }

  .week-product__image {
    float: right;
    width: 334px;
    height: 404px;
    margin-top: 50px;

    background-color: lightgray;
  }

  p.week-product__price {
    margin-top: 40px;
    margin-left: 0;

    font-size: 20px;
    line-height: 24px;
  }

  .week-product__order {
    width: 286px;
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .week-product__header-wrapper {
    float: left;
    width: 100%;
    margin-top: 82px;
  }

  .week-product__title {
    float: right;
    padding-right: 30px;
  }

  .week-product__header-wrapper h2 {
    float: right;
    margin-top: -4px;
    margin-right: 353px;
  }

  .week-product__wrapper {
  }

  p.week-product__price {
    margin-top: 110px;
    margin-left: 4px;
    padding-top: 0;
  }

  .week-product__descritption-text {
    width: 300px;
    margin-left: 175px;
  }

  .week-product__image {
    width: 525px;
    height: 637px;
    margin-top: -116px;

    background-color: lightgray;
  }
}
