//Документ sass/blocks/week-product.scss
.week-product {
  position: relative;
  padding-top: 28px;
  padding-bottom: 10px;
  &::before {
    top: 100%;
    left: 0;
    position: absolute;
    content: "";
    width: 100vw;
    height: 7px;
    background: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
  }
}

.week-product__wrapper {
  display: flex;
  flex-wrap: wrap;


  @include wrapper;
}

.week-product__header-wrapper {
  display: flex;
  flex-wrap: wrap;

  h2 {
    flex-basis: 100%;
    padding-bottom: 3px;
  }
}

.week-product__title {
  flex-basis: 100%;

  color: $color-lightgreen;
  text-transform: uppercase;
}

.week-product__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.week-product__description-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > p {
    // line-height: 1em;
    flex-basis: 100%;
    padding-bottom: 22px;

    line-height: 24px;
  }
}

.week-product__parametr {
  display: flex;
  flex-basis: 100%;
}

.week-product__parametr-title {
  display: flex;
  flex-basis: 30.625%;
  flex-wrap: wrap;

  p {
    flex-basis: 100%;
    padding-bottom: 8px;
    padding-right: 30px;

    border-bottom: 1px solid $color-border-gray;
  }
}

.week-product__parametr-description {
  display: flex;
  flex-basis: 69.375%;
  flex-wrap: wrap;

  span {
    flex-grow: 1;
    flex-basis: 100%;

    border-bottom: 1px solid $color-border-gray;
  }
}

.week-product__order-price {
  flex-basis: 100%;

  text-align: center;
}

.week-product__order {
  width: 100%;
}

.week-product__price {
  // font-size: 5.3125vw;
  // line-height: 1.411764705882353em;
  padding-bottom: 25px;

  font-size: 17px;
  line-height: 24px;

  @include opensansbold;
}

.week-product__image {
  text-align: center;
  overflow: hidden;
  line-height: 0;
  height: 315px;
}

@media (max-width: $tablet-width - 1) {
  .week-product__wrapper {
    padding-bottom: 150px;
  }

  .week-product__image {
    margin-top: -74px;
  }

  .week-product__description-info {
    > p {
      padding-top: 21px;
    }
  }

  .week-product__order-price {
    position: relative;
    top: 366px;
  }
}

@media (min-width: $tablet-width) {
  .week-product {
    padding-top: 46px;
    padding-bottom: 28px;
    &::before {
      height: 20px;
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
    }
  }

  .week-product__header-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 4.1%;

    h2 {
      flex-basis: auto;
    }
  }

  .week-product__title {
    flex-basis: 70px;
    font-size: 17px;
    line-height: 1em;

    text-align: center;
    padding-top:  12px;

  }

  .week-product__description {
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .week-product__description-info {
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-right: 45px;
    box-sizing: border-box;

    > p {
      padding-top: 0;
      margin-top: -5px;
      flex-basis: auto;
      line-height: 30px;
    }
  }

  .week-product__parametr {
    flex-basis: auto;
    margin-top: 13px;
    font-size: 15px;
    line-height: 20px;
  }

.week-product__parametr-title p,
.week-product__parametr-description span {
  padding-top: 10px;
  padding-bottom: 10px;
}

  .week-product__order-price {
    flex-basis: auto;
    margin-top: auto;
  }

  .week-product__price {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 34px;
    // font-size: 2.604166666666667vw;
    // line-height: 1.2em;
  }

  .week-product__image {
    flex-basis: 50%;
    text-align: right;
    padding-top: 4px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    padding-top: 19px;
    padding-bottom: 48px;
    &::before {
      height: 20px;
    }
  }

  .week-product__wrapper {
    position: relative;
  }

  .week-product__header-wrapper {
    position: absolute;
    top: 107px;
    left: 0;

    justify-content: flex-start;
    padding-right: 0;


    h2 {
      order: 1;
    }
  }

  .week-product__title {
    padding-right: 54px;
    padding-left: 46px;
  }

  .week-product__description-info {
    padding-top: 167px;
    width: 525px;
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 58px;
  }

  .week-product__parametr {
    margin-top: 24px;
  }

  .week-product__image {
    width: 525px;
    height: 636px;
  }
}
